body {
  font-family: "Source Sans Pro", sans-serif;
}
.calculator {
  width: 750px;
  width: 500px;
  margin: auto;
}

.display {
  margin-top: 15px;
  width: 95%;
  height: 70px;
  overflow-x: auto;
  border: 1px solid rgb(181, 181, 181);
  margin-left: auto;
  margin-right: auto;
}
.display span {
  margin-top: 15px;
  display: block;
  padding-bottom: 1px;
  font-size: 40px;
  text-align: right;
}
.buttons {
  display: flex;
}

button {
  height: 50px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  border-radius: 5px;
  font-size: 25px;
}

.signs button {
  background-color: #dddddd;
}

.numbers button {
  background-color: #f9f9f9;
}

.numbers {
  display: flex;
}

.equals {
  height: 198px;
  margin-left: 16px;
  color: white;
}
